
caption{
        font-size: 35px;
        color: red;
}
table {
       border: 1px solid black;
       border-collapse: collapse;
       width: 100%;
}
 table th,td {
        border: 1px solid black;
        height: 50px;
        background-color: cadetblue;
}
th {
        font-size: 40px;
        color: rgb(155, 29, 7);
}
td {
        text-align: center;
        font-size: 25px;
        color: whitesmoke;
}
td, rowspan:nth-child(odd){
        background-color: rebeccapurple;
}